.main-loop-container {
	@include grid-column(12);
}

//create a mixin to not show the border on the top elements
@mixin dontshow() {
	.index-author {
		padding: 0;
		border-top: none;	
	}
}

.main-loop {
	//general classes
	.type {
		overflow:hidden;
		width: 100%;
		height: 100%;
		position:absolute;
		left: -0.9375em;
		&:before{
			content:"";
			font: {
				family: ionicons;
				size:16em;
			}
			@include transform( scale(-1,1) );
			display:block;
			position:absolute;
			color:rgba( $sky, .3 );
		}
	}
	.index-author {
		vertical-align: middle;
		// position:relative;
		bottom:0;
		@include grid-column($columns:12,$float:none);
		@include std-border( -top );
		padding: 20px 0 10px;
		.entry_author_image {
			float:left;
			width:50px;
			height:50px;
			margin-right: 15px;
			img {
				border-radius:50%;
				width:100%;
				height:100%;
				vertical-align: inherit;
				@include transition-duration(.2s);
				&:hover {
					border-color: darken( $quan, 10% );
					@include transition-duration(.5s);
				}
			}
		}
	}
	.post-image {
		position: relative;
		.attribution {
			position: absolute;
			bottom: 2px;
			right: 2px;
			font: {
				size: 10px;
			}
			z-index:2;
			a {
				border-bottom: 0;
				span {
					@include transition( background-color, .3s );
					background-color:transparent;
					padding: 5px;
				}
				img {
					@include transition-duration(.3s);
					opacity:1;
				}
				&:hover {
					span {
						@include transition( background-color, .5s );
						background-color:$wheat;
						color:$quan;
					}
					img {
						@include transition-duration(.5s);
						opacity:.5;
					}
				}
				&.dark {
					color: $quan;
					&:hover {
						span {
							background-color:$quan;
							color:$wheat;
						}
					}
				}
			}
			.cc {
				width:20px;
			}
		}
	}
	.index-post-img {
		padding-top: 20px;
	}
	.index-post {
		z-index: 1;
		.type {
			&:before{
				content:"\f2bf"!important;
				bottom:-150px;
				right:-70px;
			}
		}
	}
	.index-tweet {
		z-index: 1;
		.type {
			z-index:-1;
			&:before{
				content:"\f242"!important;
				bottom:-120px;
				right:-50px;
			}
		}
		.tweet-attachment {
			background: {
				size: cover;
				position: 0;
			}
			min-height:175px;
			width:100%;
			margin-bottom: 10px;
		}
		.tweet-content {
			color: $quan;
			p {
				font: {
					family: NexaSlab-Bold;
					size:1.25em;
				}
				a {
					font: {
						family: NexaSlab-Regular;
						size:.8em;
					}
					vertical-align:middle;
					-ms-word-break: break-all;
					// Non standard for webkit
					word-break: break-word;
					word-break: break-all;
					&[href^="https://twitter.com/"],
					&[href^="http://twitter.com/"] {
						font: {
							family: NexaSlabxBoldOblique;
							size:1em;
						}
						border-bottom:none;
						//lets not break "words"
						-ms-word-break: normal;
						word-break: normal;
					}
				}
			}
			padding-top: 20px;
		}
		.tweet-author {
			.text {
				font: {
					family: NexaSlab-Bold, Georgia ;
					size:1.25em;
				}
				border:none;
				line-height:50px;
				vertical-align: inherit;
				text-shadow: lighten($quan, 20%) 1px 1px 2px;
			}
			.display-name {
				line-height: 25px;
				+ .text {
					line-height: 25px;
				}
				~ .intents {
					top:35px;
					.intent {
						line-height: 25px;
						&:hover {
							&:before {
								top:-35px;
							}
							&:after {
								top:-11px;
							}
						}
					}
				}
			}
			.image {
				&:hover {
					~ .text {
						color:lighten( $quan, 20% );
						@include transition-duration(.5s);
					}
				}
			}
			.intents{
				position: absolute;
				top: 10px;
				right: 20px;
				overflow:visible!important;
			}
			.intent {
				visibility:hidden;
				opacity:0;
				font-size:1.5em;
				float:right;
				padding-left: 10px;
				line-height:50px;
				position:relative;
				text-shadow: lighten($quan, 20%) 1px 1px 2px;
				&:hover {
					&:before {
						content:attr(data-intent);
						position:absolute; 
						top:-25px;
						left:-35%;
						z-index:10;
						font-size:.6em;
						line-height:.6em;
						padding:8px;
						background-color:rgba( $quan, .85 );
						border-radius:4px;
						color:$wheat;
						visibility: visible;
					}
					&:after {
						content:"";
						display:block;
						position:absolute;
						top:-1px;
						left:35%;
						border-top: 8px solid rgba( $quan, .85 );
						border-left:8px solid transparent;
						border-right:8px solid transparent;

					}
				}
				a {
					border:none;
				}

			}
		}
		&:hover {
			.intent {
				@include transition-duration(.5s);
				visibility:visible;
				opacity: 1;
			}
		}
		@include transition-duration(.2s);
	}
	@media #{$small-only} {
		@include block-grid($per-row:1);
		li {
			&:first-child {
				@include dontshow;
			}
		}
	}
	@media #{$medium-only} {
		@include block-grid($per-row:2);
		li {
			&:first-child {
				@include dontshow;
			}
			&:nth-child(2) {
				@include dontshow;
			}
		}
	}
	@media #{$large-up} {
		@include block-grid($per-row:3);
		li {
			&:first-of-type {
				@include dontshow;
			}
			&:nth-of-type(2) {
				@include dontshow;
			}
			&:nth-of-type(3) {
				@include dontshow;
			}
		}
	}
	li {
		position:relative;
		.postlink {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-bottom:none;
			z-index:1;
		}
		h2 {
			font: {
				family: NexaSlab-Bold;
				size:1.25em;
				weight:normal;
			}
			a {
				border:none;
				color:$wheat;
				text-shadow: lighten($quan, 20%) 1px 1px 2px;
			}
		}
		&:hover {
			h2 {
				a {
					color:lighten( $quan, 20% );
					@include transition-duration(.5s);
				}
			}
			.post-author {
				.display-name {
					a {
						color:lighten( $quan, 20% );
						@include transition-duration(.5s);	
					}
				}
			}
		}
	}
	.post-author {
		.display-name {
			font: {
				family: NexaSlab-Bold, Georgia ;
				size:1.25em;
			}
			border:none;
			line-height:50px;
			vertical-align: inherit;
			text-shadow: lighten($quan, 20%) 1px 1px 2px;
			a {
				border:none;
			}
		}
	}
}

#nothing-here {
	@include grid-column(12);
	font-size: 1.6em;
}