@mixin clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

@mixin circle {
	height: 6.25em;
	width: 6.25em;
	border:3px solid black;
	position:relative;
	left:60%;
	border-radius: 50%;
}

@mixin quanButton {
	display:inline-block;
	color:$quan;
	outline:none!important;
	margin-bottom: 12px;
	line-height: 1;
	padding: 5px 10px;
	border:2px solid $wheat;
	border-radius:2px;
	font-family: nexa_boldregular, sans-serif;
	font-size: 22px;
	background-color: $wheat;
	@include transition-duration(.3s);
	&:hover {
		background-color: darken($wheat, 15%);
		border-color:darken($wheat, 15%);
		box-shadow: 2px 2px 6px rgba($quan, .5);
		@include transition-duration(.3s);
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	}

	&:-moz-placeholder { /* Firefox 18- */
		@content
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		@content
	}

	&:-ms-input-placeholder {  
		@content
	}
}

@mixin std-border( $position:"" ) {
	border#{$position}:1px solid rgba($quan, .5);
}