// @import "settings";
@import "foundation";
@import "vars",
		"fonts/nexafreelight", //nexa_lightregular
		"fonts/nexafreebold", //nexa_boldregular
		"fonts/nexaslab",
		"fonts/gothic",
		"fonts/ionicons",
		"functions",
		"bourbon/bourbon",
		"mixins",
		"modernizr-fixes",
		"frame";

.admin-bar {
		.border {
			color:green;
			top:$adminbar + 14px;
		}
		header {
			top:$adminbar + 14px;
		}
	@media screen and (max-width: 782px) { 
		.border {
			top:$adminbar + 28px;
		}
		header {
			top:$adminbar + 28px;
		}
	}
	@media screen and (max-width: 600px) {
		#wpadminbar {
			position:fixed;
		}
	}
}

html {
	height:100%;
	min-height:100%;
	overflow-y: scroll;
}
body {
	-webkit-font-smoothing: antialiased;
	background: {
		color: $sky;
		image: url(../images/aperile.png);
		repeat: repeat;
		attachment:scroll;
	}
	min-height:100%;
	border:1px solid $quan;
	font-family: nexa_lightregular, sans-serif;
	padding: 14px;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	$color: $wheat; //lighten($quan, 20%);
	text-decoration:none;
	border-bottom:1px dotted $color;
	color: $color;
	@include transition-duration(.2s);
	&:hover {
		border-bottom: 1px solid lighten($quan, 20%);
		color: lighten($quan, 20%);
		@include transition-duration(.5s);
	}
}

h1, h2, h3 {
	font: {
		family: NexaSlab-Bold, Georgia;
	}
}

header {
	min-height:100px;
	top:14px;
	left: 0;
	width:100%;
	z-index:2;
	@include std-border( -bottom );
	background: {
		color: rgba($sky,.95);
		image: url(../images/aperile.png);
	}
	&.scrolled-shadow {
		box-shadow: 0 8px 6px -6px rgba($quan, .5);
	}
	> div {
		@include grid-row();
		.menu-header-container {
			@include grid-column(12);
		}
		.menu-small-handle {
			display: none;
		}
		.menu {
			@include grid-column($columns:12,$collapse:true);
			text-align: center;
			margin-left: 0;
			li {
				display:inline-block;
				list-style: {
					type:none;
					position:inside;
				}
				font: {
					size:1.8em;
				}
				&:after {
					content:" / ";
					color:$quan;
				}
				&:last-child {
					&:after{
						content:"";
					}
				}
				a {
					border-bottom:none;
					text-shadow: lighten($quan, 20%) 1px 1px 2px;
					&:hover {
						border-bottom:none;
					}
				}
				&:hover {
					// color:$wheat;
					@include transition-duration(.3s);
					.job-count {
						background-color:#D45B5B;
						@include transition-duration(.3s);
					}
				}
				.job-count {
					font-size: 12px;
					font-weight: bold;
					position: relative;
					vertical-align: top;
					background-color: darken(#D45B5B, 10%);
					padding: 1px;
					width: 25px;
					display: inline-block;
					border-radius: 50%; 
					border: 2px solid $wheat;
					color: $wheat;
					text-align: center;
				}
			}
		}
	}
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:26px;
	width:100%;
	@media only screen and (max-width: 30.625em)  {
		height:102px;
	}
}

@import "index";

.border {
	height:120px;
	background-color:$wheat;
	position:absolute;
	top:14px;
	width:100%;
	z-index:1;
}

.main-container {
	@include grid-row();
	min-height:100%;
	padding-top: 30px;
}

.home {
	.main-container {
		text-align:center;
		margin-top: 10px;
		max-width:100%;
		padding-left: 0.9375em;
		padding-right: 0.9375em;
		img {
			@include transform( scale(.89) );
		}
	}
	nav {
		padding-top: 20px;
		ul {
			list-style: none;
			li {
				display:inline;
				&:after {
					content:"/";
					font-size: 2.3em;
					padding:0 20px;
					color:$wheat;
				}
				&:last-child {
					&:after {
						content:"";
					}
				}
				a {
					font: {
						family: nexa_lightregular,sans-serif;
						size: 2.3em;
						weight: bold;
					}
					color: $quan;
					border-bottom:none;
					text-shadow: lighten($quan, 20%) 1px 1px 2px;
					@include transition-duration(.3s);
					&:hover {
						color:$wheat;
						@include transition-duration(.5s);
						.job-count {
							background-color:#D45B5B;
							@include transition-duration(.5s);
						}
					}
					.job-count {
						font-size: 12px;
						font-weight: bold;
						position: relative;
						top: 5px;
						vertical-align: top;
						background-color: darken(#D45B5B, 10%);
						padding: 1px;
						width: 25px;
						display: inline-block;
						border-radius: 50%;
						border: 2px solid $wheat;
						color: $wheat;
					}
				}
			}
		}
	}
	.notlang {
		@include grid-row();
		margin-top: 60px;
		font-size:1.2em;
		text-align:center;	
		span {
			float:none;
			width:auto;
			padding-right: 0;
		}
		select {
			@include grid-column(12);
			background: {
				color: $sky;
				image: url(../images/aperile.png);
				repeat: repeat;
			}
			&::-ms-expand {
			    display: none;
			}
			float:none;
			width:auto;
			margin-top: 20px;
		}
	}
	@media #{$medium-up} {
		.notlang {
			.select {
				display:inline;
			}
		}	
	}
}
.content {
	@include grid-row();
	@media #{$medium-only} {
		padding-left: rem-calc(30) / 2;
    	padding-right: rem-calc(30) / 2;
	}
	> h1 {
		font: {
			family: NexaSlab-Bold, Georgia;
			size:2.513em;
		}
		@include grid-column(12);
		margin-bottom: 1.5em;
	}
	.meta {
		font: {
			size:1em;
		}
		@include grid-column(12);
		margin-top: -60px;
	}
	article {
		@include grid-column(12);
		font-size:1.2em;
		.abstract {
			h2 {
				font-size:1.125em;
			}
			p {
				&:after {
					content:"";
					display:block;
					padding:12px 0;
					margin: 0 auto;
					width:33%;
					border-bottom: 1px solid $quan;
				}
			}
		}
		img {
			max-width:100%;
		}
		>p  {
			font: {
				size:1em;
			}				
		}
		ul {
			font: {
				size:1em;
			}
			@media #{$medium-up} {
				padding-left: 20px
			}
		}
		*[id^="attachment"], img {
			max-width:100%;
			padding: 20px 0;
		}
		.wp-caption-text {
			font: {
				family: nexa_lightregular, sans-serif!important;
				size: .8em;
			}
		}
		blockquote {
			border-left:none;
			p {
				font:{
					family: NexaSlabxBoldItalic, Georgia;
					size: 0.975em;
				}
				color:$wheat;
				@include grid-column(12);
				border-left: 2px solid $wheat;
			}
		}

		ol, ul {
			font-size: 1em;
		}

		.attribution {
			text-align:right;
			font-size:.8em;
			.cc {
				border:none;
				img {
					width:20px;
				}
			}
		}
		dl {
			~ div {
				margin-top: -80px;
				margin-bottom: 20px;
			}
		}

	}
}

.single-quan_jobs {
	.content {
		> h1 {
			margin-bottom: .5em;
		}
	}
}

.job-listings {
	@include grid-row();
	@media #{$medium-only} {
		padding-left: rem-calc(30) / 2;
    	padding-right: rem-calc(30) / 2;
	}
	> h1 {
		@include grid-column(12);
		font: {
			family: NexaSlab-Bold, Georgia;
			size:2.513em;
		}
		color:$quan;
		padding-left:0;
	}
	article {
		padding-bottom: 12px;
		&:after {
			content:"";
			padding: 12px;
			border-bottom: 1px solid $quan;
			@include grid-column($columns:4, $center:true);
			display:block;
		}
		&:last-child {
			&:after {
				border:none;
			}
		}
		h2 {
			@include grid-column(12);
			font: {
				family: NexaSlabLightOblique, Georgia;
			}

			padding-left:0;
			a {
				color:$wheat;
				border-bottom:none;
				text-shadow: lighten($quan, 20%) 1px 1px 2px;
				@include transition-duration(.3s);
				&:hover {
					color:lighten( $quan, 20% );
					@include transition-duration(.5s);
				}
			}
		}
	}
	p {
		font-size:1.2em;
	}
	.job-details {
		float:right;
		margin-top: -1em;
	}
}

.filter {
	@include grid-row();
	vertical-align: middle;
	margin-bottom: 20px;
	> div {
		@include grid-column();
		> div {
			@include grid-column( $collapse:true );
			padding-bottom: 0.9375em;
			@include std-border( -bottom );
		}
	}
	.heading {
		@include grid-column(12);
		@media #{$medium-up} {
			@include grid-column( $collapse:true );
			float:left;
			padding-right: 20px;
			font-size: 1.5em;
			line-height: 38px;
			width:auto;
		}
	}
	.tweet-filter {
		vertical-align: middle;
		float:left;
		margin-right: 20px;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		input[type=checkbox] {
			opacity:0;
			width: 38px;
			height: 38px;
			margin-bottom: 0;
			line-height: 38px;
			vertical-align: inherit;
			position:absolute;
			z-index: 2;
			&:hover {
				cursor: pointer;
			}
		}
		.replacement {
			width: 38px;
			vertical-align: inherit;
			&:before {
				content:"\f242";
				font: {
					family: ionicons;
					size: 38px;
				}
				color: lighten( $quan, 25% );
			}
		}
		.popup {
			width: 38px;
			height: 38px;
			position:absolute;
			z-index:0;
		}
		input[type=checkbox] {
			&:checked {
				~ .replacement {
					&:before {
						content:"\f243";
						color: $quan;
					}
				}
				&:hover {
					~ .popup {
						&:before {
							content: attr( data-checked );
						}
					}
				}
			}
			&:hover {
				~ .popup {
					&:before {
						content: attr( data-unchecked );
						position:absolute; 
						top:-35px;
						left:-75%;
						z-index:10;
						font-size:.8em;
						line-height:.8em;
						padding:8px;
						background-color:rgba( $quan, .85 );
						border-radius:4px;
						color:$wheat;
						white-space: nowrap;
					}
					&:after {
						content:"";
						display:block;
						position:absolute;
						top:-9px;
						left:5px;
						border-top: 8px solid rgba( $quan, .85 );
						border-left:8px solid transparent;
						border-right:8px solid transparent;
					}
				}
			}
		}
	}
	.language {
		@include grid-column( $collapse:true );
		height:100%;
		select {
			@include grid-column(12);
			background-color: $wheat;
			float:none;
			width:auto;
			display:inline;
			&::-ms-expand {
			    display: none;
			}
		}
	}
}

.author {
	@include grid-column(12);
	text-align:center;
	h3 {
		font-size:1.2em;
		padding-top: 1em;
		padding-bottom: .5em;
		@include std-border( -bottom );
		text-align:left;
		margin-bottom: 1em;
	}
	img {
		border-radius:50%;
		// border:4px solid $quan;
	}
	.name {
		@include grid-column(12);
		margin-top: 10px;
		font: {
			family: nexa_lightregular, sans-serif;
			size:1.8em;
			weight:bold;
		}
	}
	.job {
		@include grid-column(12);
		font-size:1.2em;
		padding: 5px 0;
	}
	.socials {
		@include grid-column(12);
		text-align:center;
	}
	.social {
		display:inline;
		font: {
			family: nexa_boldregular, sans-serif;
			size:1.2em;
		}
		a {
			border:none;
			.google {
				font-family: Georgia, Times;
			}
		}
		&:after {
			content:"|";
			display: inline-block;
			padding: 0 5px;
			font-family: nexa_lightregular, sans-serif;
			// size:1em;
			color:$quan;
		}
		&:last-child {
			&:after {
				content:"";
			}
		}
	}
}

.application-contact {
	@include grid-column(12);
	text-align:center;
	h3 {
		font-size:1.2em;
		padding-top: 0;
		padding-bottom: .5em;
		@include std-border( -bottom );
		text-align:left;
		margin-bottom: 1em;
	}
	img {
		border-radius:50%;
	}
	.name {
		@include grid-column(12);
		margin-top: 10px;
		font: {
			family: nexa_lightregular, sans-serif;
			size:1.8em;
			weight:bold;
		}
	}
	.job {
		@include grid-column(12);
		font-size:1.2em;
		padding: 5px 0;
	}
	.mail, .phone {
		@include grid-column(12);
		padding: 5px 0;
		a {
			font-size:1.2em;
			border-bottom:none;
			word-break:break-all;
		}
		&:before {
			content:"";
			font: {
				family:ionicons;
				size:1.4em;
			}
			color:$wheat;
			padding-right: 10px;
			vertical-align: middle;
		}
	}
	.phone {
		&:before {
			content:"\f1e5";
		}
	}
	.mail {
		&:before {
			content:"\f186";
		}
	}
}

.article-share {
	@include grid-column(12);
	h3 {
		font-size:1.2em;
		padding-top: 1em;
		padding-bottom: .5em;
		@include std-border( -bottom );
		text-align:left;
		margin-bottom: 1em;
	}
	> div {
		margin-bottom: 15px;
	}
	a {
		border-bottom:none;
		@include transition-duration(.3s);
		&:hover {
			color: $quan;
			@include transition-duration(.3s);
			i {
				color: darken($wheat, 20%);
				@include transition-duration(.3s);
			}
		}
		i {
			height: 34px;
			width: 34px;
			text-align:center;
			padding: 10px;
			margin-right: 5px;
			border-radius:50%;
			@include transition-duration(.3s);
		}
	}
	.facebook {
		a {
			i {
				background-color: mix($facebook-color, $quan, 60%);
			}
		}
	}
	.twitter {
		a {
			i {
				background-color: mix($twitter-color, $quan, 60%);
			}
		}
	}
	.gplus {
		a {
			i {
				background-color: mix($gplus-color, $quan, 60%);
			}
		}
	}
}

.tags {
	@include grid-column(12);
	h3 {
		font-size:1.2em;
		padding-top: 1em;
		padding-bottom: .5em;
		@include std-border( -bottom );
		text-align:left;
		margin-bottom: 1em;
	}
	.single-tag {
		a {
			line-height: 2.3;
			border-radius:2px;
			color:$quan;
			padding: 5px;
			border:none;
			@include std-border;
			height: 100%;
			width: 100%;
			@include transition-timing-function(ease);
			@include transition-duration(.3s);
		}
		&:hover {
			a {
				color:$wheat;
				background-color: $quan;
				@include transition-timing-function(ease);
				@include transition-duration(.3s);
			}
		}
	}
}

.comments-area {
	@include grid-column(12);
	h3 {
		font-size:1.2em;
		padding-top: 1em;
		padding-bottom: .5em;
		@include std-border( -bottom );
		text-align:left;
		margin-bottom: 1em;
	}
}

.comment-list {
	.comment {
		@include grid-column($columns:12, $collapse:true);
		border-top:1px dotted rgba($quan, .5);
		&:first-child {
			border-top:none;
		}
		&.depth-2 {
			@include grid-column($columns:11, $float:right, $collapse:true, $last-column:true);
		}
		&.depth-3 {
			@include grid-column($columns:10, $float:right, $collapse:true, $last-column:true);
		}
		&:before {
			display: block; 
			content: ""; 
			margin-top: -145px; 
			height: 145px; 
			visibility: hidden; 
		}
		article {
			@include grid-column($columns:12, $collapse:true);
		}
		.vcard {
			border:none;
			@include grid-column($columns:12, $collapse:true);
		}
		.fn {
			padding-left: 5px;
		}
		.comment-meta {
			font-weight: normal;
			&:before {
				content: "|";
				padding:0 5px;
			}
		}
		.reply {
			text-align:right;
			padding:1em 0;
		}
	}
	margin-left: 0;
}

.comment-form {
	label {
		font-size: 1em;
		font-size: $quan;
	}
	input {
		display:block;
		margin: 0 auto;
		border:2px solid $wheat;
		color:$quan;
		background-color: transparent;
		outline:none!important;
		margin-bottom: 12px;
		font-size: 22px;
		line-height: 1;
		padding: 5px 10px;
		border-radius:2px;
		@include placeholder{ 
			font-size: 22px;
			line-height: 1;
			padding-top: 3px;
			color:rgba($quan, .5);
		}
		&:focus {
			background-color: $wheat;
		}
		&[type=submit] {
			font-family: nexa_boldregular, sans-serif;
			background-color: $wheat;
			color:$quan;
			@include transition-duration(.3s);
			&:hover {
				background-color: darken($wheat, 15%);
				border-color:darken($wheat, 15%);
				box-shadow: 2px 2px 6px rgba($quan, .5);
				@include transition-duration(.3s);
			}
		}
	}
}

.comment-form-comment {
	textarea {
		height:8*1.4em;
		border:2px solid $wheat;
		color:$quan;
		background-color: transparent;
		outline:none!important;
		margin-bottom: 12px;
		font-size: 1em;
		line-height: 1.2;
		padding: 15px;
		border-radius:2px;
		&:focus {
			background-color: $wheat;
		}
	}
}

.comment-respond {
	@include grid-column($columns:12, $collapse:true);
}

.team-container {
	@include grid-column(12);
}
.team {
	@media #{$small-only} {
		@include block-grid($per-row:2)
	}
	@media #{$medium-only} {
		@include block-grid($per-row:3)	
	}
	@media #{$large-only} {
		@include block-grid($per-row:3)
	}
	@media #{$xlarge-up} {
		@include block-grid($per-row:4)
	}
	.author {
		list-style: none;
		.name {
			font-size: 1.6em;
		}
	}
}

.social-menu {
	font-size: 25px;
	color:$wheat;
	position:absolute;
	bottom:22px;
	@media only screen and (min-width: 30.688em) and (max-width: 64em) {
		right:22px;
	}
	@media only screen and (max-width: 30.625em)  {
		left:26px;
	}
	z-index:5;
	>div {
		display:inline;
		a {
			border-bottom:none;

		}
	}
	span {
		&:nth-of-type(2) {
			display:none;
		}
	}
}

@media #{$medium-up} {
	body {
		background: {
			attachment:fixed;
		}
	}
	header {
		position: fixed;
		>div {
			.menu {
				text-align: left;
			}
		}
	}
	.main-container {
		margin-top: 119px;
	}
	.content {
		position:relative;
		> h1 {
			@include grid-column($collapse:true);
		}
		.meta {
			@include grid-column($collapse:true);	
		}
		article {
			@include grid-column($columns:8, $collapse:true);
		}
	}
	aside {
		@include grid-column($columns:4, $float:right);
		.author {
			h3 {
				padding-top: 0;
				margin-top: 0;
			}
		}
	}
	.comments-area {
		@include grid-column($columns:8, $collapse:true);
		padding-top: 0;
	}
	.form-submit {
		float:right;
	}
}
@media #{$large-up} {
	.social-menu {
		font-size: 25px;
		color:$wheat;
		position:fixed;
		bottom:25px;
		left: 100%;
		margin-left: -55px;
		z-index:5;
		visibility:visible;
		@include clearfix();
		> div {
			white-space:nowrap;
			position:relative;
			@include transition-duration(.3s);
			right:0;
			&:hover {
				@include transition-duration(.5s);
				right: 87%;
			}
		}
		a {
			color:$wheat;
			border-bottom:none;
			width: 100%;
			height: 100%;
			margin-right: 30px;
			display:inline-block;
			text-shadow: $quan 1px 1px 2px;
			span {
				width:25px;
				text-align:center;
			}
		}
		span {
			&:nth-of-type(2) {
				padding-left: 12px;
				font-family: nexa_lightregular, sans-serif;
				display:inline;
			}
		}
	}
}

header {
	> a {
		border:none;
		&:hover {
			border:none; 
		}
		@media #{$small-only} {
			display:inline-block;
			@include grid-column($columns:12, $collapse:false);
			text-align:center;
		}
		@media #{$medium-up} {
			z-index:6;
			position:absolute;
			top:10px;
			left:26px;
		}
	}
	img {
		max-height:80px;
		max-width:135px*.8;
		@media #{$small-only} {
			margin: 10px 0;
			height:80px;
		}
		@media #{$medium-up} {
			height: 100%;
			width: 100%;
		}
	}
	>div {
		@media #{$small-only} {

		}
		@media #{$medium-only} {
			width:auto;
		}
		@media screen and (min-width: 57.5em) {
			padding-top: 21.5px;
		}
		@media only screen and (min-width: 40.063em) and (max-width: 80em) {
			position:absolute;
			left:26px;
			padding-left:120px;
		}
	}
	&.small-fixed {
		height:80px;
		min-height:80px;
		img {
			position:absolute;
			top:10px;
			left:26px;
			width: auto;
			padding:0;
			height:60px;
			margin: 0;
		}
		> div {
			vertical-align: middle;
			.menu-small-handle {
				display: block;
				float:right;
				font-size: 3.75em;
				vertical-align: inherit;
				padding-top: 10px;
				padding-right: 10px;
				color: rgba( $quan, .9 );
			}
			ul {
				li {
					display:none;
				}
			}	
		}
	}
}

#wait {
	background-image: url(../images/circle.svg);
	background-size:50px 50px;
	height:50px;
	width: 50px;
	position: fixed;
	left:50%;
	top:50%;
	margin-left: -25px;
	margin-top:-25px;
	z-index:10;
	// @include animation(spin, 1s, 0, infinite, linear);
	@include animation-name(spin);
	@include animation-duration(1s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
}

@include keyframes( spin ) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}

.comingsoon {
	font-size: 16px!important;
	font-size: 1em!important;
	.sooncontent {
		* {
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column($columns:8, $center:true, $last-column:true, $collapse:true);
			}
		}
	}
	h1 {
		text-align:center;
		font-size: 1.75em;
		font-family: nexa_boldregular,sans-serif;
	}
	.notlang {
		@include grid-row();
		margin-top: 20px;
		span {
			@include grid-column(12);
		}
		select {
			@include grid-column(12);
			background: {
				color: $sky;
				image: url(../images/aperile.png);
				repeat: repeat;
				// attachment:scroll;
			}
			&::-ms-expand {
			    display: none;
			}
		}
	}
	@media #{$medium-up} {
		.notlang {
			text-align:center;
			span {
				float:none;
				width:auto;
				padding-right: 0;
			}
			select {
				float:none;
				width:auto;
			}
		}	
	}
}	
	#intro {
		font-size: 1.375em;
		text-align:justify;
	}
	#story {
		font-size: 2.188em;
		line-height:1em;
	}
	#wetell {
		font-size: 2.188em;
		margin-top: .5em;
		line-height:1em;
		padding-bottom: 75px;
		border-bottom: 1px solid rgba($quan, .5);
	}
	#contact {
		font-size: 1.375em;
		text-align:justify;
		margin: 75px auto 30px;	
	}

//CONTACT
#contactform {
	@include grid-row();
	text-align:center;
	margin-bottom: 75px;
	p {
		font-size: 22px;
	}
	h2 {
		color:$wheat;
	}
	form {
		@include grid-column(12);
		@media #{$small} {
			@include grid-column($columns:6, $center:true);
		}	
		input {
			display:block;
			margin: 0 auto;
			border:2px solid $wheat;
			color:$sky;
			background-color: $quan;
			outline:none!important;
			margin-bottom: 12px;
			font-size: 22px;
			line-height: 1;
			padding: 5px 10px;
			border-radius:2px;
			@include placeholder{ 
				font-size: 22px;
				line-height: 1;
				padding: 5px 0;
				color:$wheat;
			}
			&:focus {
				@include placeholder{ 
					color:rgba($wheat, .3);
				}
			}
			&[type=submit] {
				@include quanButton;
			}
		}
	}
}

.modal {
	position:fixed;
	top:50%;
	left:50%;
	background-color: rgba($wheat, .99);
	padding: 5% 10%;
	z-index:10;
	display:none;
	border-radius:2px;
	box-shadow: 0px 0px 1000px $quan, 0px 0px 0px 1000px rgba($quan, .2);
	opacity:0;
	text-align:center;
	#modal-close {
		position:absolute;
		top:-20px;
		right:-8px;
		font-size: 40px;
		&:hover {
			color:rgba($quan, .5);
			cursor:pointer;
			div {
				border-color:rgba($quan, .5);
			}
		}
		div {
			content:"";
			background-color: $wheat;
			border-radius:50%;
			height:34px;
			width:34px;
			position: absolute;
			display: block;
			left: -9px;
			top: 3px;
			z-index:-1;
			border:1px solid $quan;
		}
	}
	> * {
		position:relative;
		color:$quan;
	}
	h2 {
		text-align:center;
		font-size: 45px;
		font-family: nexa_lightregular;
	}
	p {
		font-size: 20px;
	}
}
#leave_me {
	position:absolute;
	left:-10000px;
}

.error404 {
	h1 {
		@include grid-column($columns:12);
		text-align:center;
		&:hover {
			&:before {
				content:attr(data-popup);
				position:absolute; 
				bottom:-20px;
				z-index:10;
				font-size:.4em;
				line-height:.6em;
				padding:8px;
				background-color:rgba( $quan, .85 );
				border-radius:4px;
				color:$wheat;
				visibility: visible;
				font-family:nexa_lightregular, sans-serif;
			}
			&:after {
				content:"";
				display:block;
				position:absolute;
				bottom:6px;
				left:50%;
				border-bottom: 8px solid rgba( $quan, .85 );
				border-left:8px solid transparent;
				border-right:8px solid transparent;

			}
		}
	}
	p {
		@include grid-column(12);
		font-size:1.2em;
		text-align:center;
		a {
			@include quanButton;
			margin-top: 1em;
			padding:0.9375em;
		}
	}

	.shipwreck-404 {
		@include grid-column(12);
		text-align:center;
		svg {
			@media #{$large-up} {
				width: 75%;
				height:500px;
			}
			width: 100%;
			height:300px;
		}
	}
}

.js {
	.content {
		article {
			p {
				text-align: justify;
			}
		}
	}
}

.no-js {
	.reply {
		display:none;
	}
}

@import "overwrite";